



<p class="title">
  Order Now! {{orderList.length}}
</p>

<mat-card *ngFor="let item of orderList;">
  <p class="sub-title">{{item.name}}</p>
  <p>
    <label for="count">Count : </label>
    <span>{{item.count}}</span>
  </p>
  <p><strong>price : {{item.priceTotal}} ฿</strong></p>
  <p *ngIf="item.ingredient.length>0">Topping : </p>
  <ul>
    <li *ngFor="let ingredient of item.ingredient;">
      <span>{{ingredient}}</span>
    </li>
  </ul>
  <p>
    <label for="remark">Remark : </label>
    <span>{{item.remark}}</span>
  </p>
</mat-card>
