



<p class="title">
  Food Order Now!
  <strong> {{priceToltal}} ฿</strong>
</p>

<mat-card class="paragrap" *ngFor="let item of orderList;">
  <p class="sub-title">{{item.name}}</p>
  <p>
    <label for="count">Count : </label>
    <span>{{item.count}}</span>
  </p>
  <p *ngIf="item.ingredient.length>0">Topping : </p>
  <ul>
    <li *ngFor="let ingredient of item.ingredient;">
      <span>{{ingredient}}</span>
    </li>
  </ul>
  <p>
    <label for="remark">Remark : </label>
    <span>{{item.remark}}</span>
  </p>
  <p>price : {{item.priceTotal}} ฿</p>
</mat-card>
