@import "./valiabels";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway:wght@100&family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
a {
  color: $primary;
  text-decoration: unset;
  font-size: 16px;
  font-weight: 500;
}
a:hover {
  font-weight: 600;
  color: $primary3;
}
.title,
.title-header {
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
  font-weight: 600;
  color: $white;
  a {
    color: $primary4;
  }
  a:hover {
    color: $primary3;
  }
  strong {
    color: $primary1;
    font-size: 16px;
    font-weight: 400;
  }
}
span,
a,
p,
b,
u,
li,
h3,
h4,
label,
h5 {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-family: "Patrick Hand", cursive;
}

.title-header {
  margin: 15px !important;
}
mat-menu {
  background-color: $primary2 !important;
}
mat-card {
  margin: 15px;
  background: #0000001c !important;
  width: max-content;
}

mat-spinner {
  position: fixed !important;
  left: 46%;
  top: 50%;
}

.mg-s {
  margin: 5px;
}
.mg-m {
  margin: 10px;
}
.mg-l {
  margin: 10px;
}

.tran {
  background: #7fffd400 !important;
  border: 0 !important;
}

mat-toolbar,
.toolbar {
  border-bottom: 0.1px solid rgb(0 0 0 / 27%);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.footter {
  border-top: 0.1px solid rgb(0 0 0 / 27%);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-toolbar.mat-primary {
  background: $primary2 !important;
  // background-image: linear-gradient($primary, $primary3) !important;
}

.mat-toolbar.mat-secondary {
  background: $primary2 !important;
}

.mat-primary {
  color: $primary !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary !important;
}

.mat-checkbox-inner-container {
  background: $primary !important;
}

.content {
  display: flex !important;
  justify-content: space-around;
  flex-flow: wrap;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.food-detail {
  background: rgba(255, 255, 255, 0.687) !important;
  border-radius: 5px;
  width: 230px;
  margin: 5px;
  height: 123px;
  p {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: $secondary !important;
  }
  .detail {
    height: 27px;
    font-size: 14px;
  }
  .title {
    padding: 8px;
    color: $primary2 !important;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
  }
}

.background-white {
  background: rgba(255, 255, 255, 0.687) !important;
  border-radius: 9px;
  padding: 15px;
  margin: 15px;
  .title {
    color: $primary;
  }
}
.card {
  margin: 15px;
  background: rgba(255, 255, 255, 0.687) !important;
  border-radius: 5px;
  padding: 5px;
  width: 80vw;
  .title {
    font-size: 20px;
    color: $primary !important;
  }
}

.sub-title {
  // padding: 16px;
  font-weight: 800 !important;
  font-size: 18px !important;
  color: $primary2 !important;
  font-family: "Nunito", sans-serif !important;
}
.detail {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif !important;
  color: $secondary !important;
}
textarea {
  font-family: "Nunito", sans-serif !important;
  width: 198px !important;
  height: 50px !important;
}

mat-drawer {
  width: 400px;
  top: 0%;
}

.fixed {
  position: fixed !important;
}

.mat-drawer {
  top: 64px !important;
  background: #00000057;
  margin: 5px;
  border-radius: 9px;
  margin-bottom: 4px;
  padding: 15px;
}

.mat-drawer-container {
  background-color: rgba(255, 255, 255, 0) !important;
}
img {
  // background-color: $gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 9px;
  padding: 0px;
  margin: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.icon {
  width: 23px;
  border-radius: 37px;
  height: 23px;
  margin: 0px;
  padding: 5px;
  background-color: #ffffff;
  border: white 14px outset;
}
.tumnail {
  width: 230px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 9px;
  padding: 0px;
  margin: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.photo {
  width: 70vw;
  height: auto;
}

.hero-image {
  background-image: url("../assets/bg.jpg");
  background-color: $gray;
  min-height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 35px;
  margin: 0px;
}

.cart {
  position: fixed !important;
  top: 8px;
  width: 38px !important;
  height: 38px;
  left: 90%;
  padding: 12px !important;
  z-index: 2;
  background-color: $background !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border: outset 10px;
  border-radius: 50% !important;
  img {
    margin: 0px;
    box-shadow: none;
  }
  span {
    transform: translateY(-10px);
    position: fixed;
    color: $primary1;
    font-size: 14px;
    font-weight: 600;
  }
}

.body {
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

.cursor-d {
  cursor: default !important;
}
.material-icons {
  font-size: 30px !important;
  margin: 3px;
  cursor: pointer;
}
.grad1 {
  padding: 0px;
  margin: 0px;
  padding: 15px;
  height: 100ex;
  background-color: $gray;
  background-image: linear-gradient($primary, $primary3);
}
.center {
  position: absolute !important;
  left: 6%;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-left {
  display: flex;
  justify-content: flex-end;
}
.space-around {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
