



<h1 mat-dialog-title>Order {{data.name}}</h1>
<div mat-dialog-content>
  <mat-spinner *ngIf="loading"></mat-spinner>

  <div class="example-container" *ngIf="foodDetail&&from">
    <form [formGroup]="from" (ngSubmit)="onSubmit()">
      <input type="text" formControlName='id' hidden>
      <!-- <input type="text" formControlName='name' disabled> -->



      <p *ngFor="let item of foodDetail.ingredient; let i=index">
        <mat-checkbox
          [formControlName]="'ingredient' + (i+1)"
          (change)="onSelectIngredient($event,item.name,item.price)">
          {{ item.name + " +" + item.price}}
        </mat-checkbox>
      </p>

      <p>
        <textarea matInput placeholder="remark" formControlName="remark"></textarea>
      </p>

      <p>
        <label>order : </label>
        <input matInput type="number" placeholder="Ex. 5"
          formControlName="count" (change)="onPriceChange()"
          min="1">
        <mat-error *ngIf="from.get('count').invalid">Min order: 1</mat-error>
      </p>
      <p>
        <label>price : </label>
        <input matInput type="number" placeholder="฿"
          formControlName="priceTotal" disabled
          min="1">
      </p>

    </form>
  </div>

  <div mat-dialog-actions>
    <div>
      <button mat-button class="tran flex-center"
        [mat-dialog-close]="from.value"
        cdkFocusInitial>
        <span class="material-icons">
          add_circle_outline
        </span>
      </button>
    </div>
  </div>

</div>