<mat-card class="content center">
  <div class="paragrap">
    <p class="title">Tokyo Odaiba | The One Piece restaurant</p>
    <p>
      <span class="detail">
        The One Piece themed-restaurant Baratie is dedicated the recreating the
        magical world of One Piece for anime fanatics. Based on the sea
        restaurant from the popular manga, Baratie is where Straw Hat Pirates
        member Sanji worked as a substitute head chef. Located on the rooftop
        garden of Fuji TV's building in Tokyo's Odaiba area, the restaurant is a
        can't miss for fans who've always wanted to try Sanji's cooking. There's
        also a life-size Sanji statue holding his latest dish for you to enjoy
        at the restaurant, so have your cameras and appetite ready!
      </span>
    </p>

  </div>

  <div class="paragrap">
    <p class="title">One Piece Themed Menu</p>
    <p>
      <span class="detail">
        The menu at Baratie features foods based on the Straw Hat Pirates’
        adventures during the “East Blue,” “Grand Line,” and “New World” story
        arcs. Reminisce over your favorite One Piece moment with friends while
        digging in on delicious dishes made to delight your inner otaku. Fans of
        Sanji and the rest of the Straw Hat crew can enjoy an unforgettable
        meal, without the worry of Crocodile or Don Krieg crashing your party!
        Unfortunately, the One Piece Restaurant Baratie is permanently closed.
        We recommend visiting J-World or Tokyo One Piece Tower to enjoy a One
        Piece themed meal during our epic line of Anime Japan Tours during the
        Spring or our Highlights Vacation Packages!
      </span>
    </p>

  </div>
  <p class="flex-center">
    <img class="box-hero"
      src="https://japandeluxetours.com/uploads/2015/09/20150909155613_55f0aafd6e562.jpg"
      alt="">
  </p>

</mat-card>
