<!-- <mat-card class="content center"> -->

<div class="background-white" *ngFor="let item of storyResultList">
  <p class="title">{{item.title}}</p>
  <p class="sub-title">{{item.subTitle}}</p>
  <p *ngFor="let detail of item.detail">
    <span class="detail">
      {{detail}}
    </span>
  </p>
  <div class="space-around">
    <div *ngFor="let tumnail of item.tumnail">
      <img
        class="tumnail"
        [src]="tumnail.path"
        alt="">
    </div>
    <div *ngFor="let photo of item.photo">
      <img
        class="photo"
        [src]="photo"
        alt="">
    </div>
  </div>
</div>
<!-- </mat-card> -->
